* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    overflow-x: hidden;
}

.title {
    text-align: center;
    margin-bottom: 60px;
}

.title h2 {
    font-size: 22px;
    color: #222222;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.title h2::after {
    width: 512px;
    height: 12px;
    background: url(../images/title_img.webp);
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

/*----------------------------------------
            navbar part start
-------------------------------------------*/
nav {
    background: #000;
    padding: 20px 0 !important;
}

nav ul li {
    margin-left: 12px;
}

nav ul li a {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    transition: .3s;
    position: relative;
}

nav ul li a:hover {
    color: #f73435;
}

nav ul li a::after {
    width: 0;
    height: 1px;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    content: "";
    transition: .3s;
}

nav ul li a:hover::after {
    width: 100%;
    background: #f73435;
}

nav .join_btn {
    margin-left: 45px;
}

nav .join_btn .ctn_btn {
    display: inline-block;
    background: #f73435;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 11px 24px;
    text-transform: uppercase;
    overflow: hidden;
    transition: .3s;
    position: relative;
    z-index: 1;
    border-radius: 2px;
    margin-top: 6px;
}

nav .join_btn .ctn_btn::after {
    position: absolute;
    background: #fff;
    content: "";
    width: 0;
    height: 100%;
    left: -38%;
    top: 0;
    transform: skew(50deg);
    transform-origin: top left;
    transition: .3s;
}

nav .join_btn .ctn_btn:hover {
    color: #f73435;
}

nav .join_btn .ctn_btn:hover::after {
    width: 128%;
    height: 100%;
    z-index: -1;
}

/*----------------------------------------
            navbar part end
-------------------------------------------*/
/*----------------------------------------
            banner part start
-------------------------------------------*/
#banner_part .banner {
    background: url(../images/banner_03.jpg) no-repeat center;
    background-size: cover;
}


#banner_part .banner_two {
    background: url(../images/banner_02.jpg) no-repeat center;
    background-size: cover;
}

#banner_part .banner_three {
    background: url(../images/banner_01.jpg) no-repeat center;
    background-size: cover;
}

#banner_part .banner .overlay {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .7);
    padding: 180px 0 180px;
}

#banner_part .banner .overlay h1 {
    font-size: 46px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

#banner_part .banner .overlay h2 {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 5px;
}

#banner_part .banner .overlay .and {
    color: #F73435
}

#banner_part .banner .overlay p {
    font-size: 15px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-top: 40px;
    width: 600px;
    line-height: 24px;
}

#banner_part .banner .overlay a {
    display: inline-block;
    background: #f73435;
    font-size: 18px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    padding: 14px 32px;
    text-transform: uppercase;
    overflow: hidden;
    transition: .3s;
    position: relative;
    z-index: 1;
    border-radius: 2px;
    margin-top: 40px;
}

#banner_part .banner .overlay a::after {
    position: absolute;
    background: #fff;
    content: "";
    height: 100%;
    left: -33%;
    top: 0;
    transform: skew(50deg);
    transform-origin: top left;
    transition: .3s;
    width: 0;
}

#banner_part .banner .overlay a:hover {
    color: #f73435;
}

#banner_part .banner .overlay a:hover::after {
    height: 100%;
    width: 126%;
    z-index: -1;
}

#banner_part .prev {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    color: #fff;
    z-index: 444;
    font-size: 30px;
    cursor: pointer;
    opacity: .5;
    transition: .3s;
}

#banner_part .prev:hover {
    opacity: 1;
}

#banner_part .next {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    color: #fff;
    z-index: 444;
    font-size: 30px;
    cursor: pointer;
    opacity: .5;
    transition: .3s;
}

#banner_part .next:hover {
    opacity: 1;
}

/*----------------------------------------
            banner part end
-------------------------------------------*/
/*--------------------------------------
          about part start
   --------------------------------------*/
#about_part {
    margin-top: 100px;
}

#about_part .image {
    position: relative;
}

#about_part .image img {
    width: 100%;
}

#about_part .image .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
}

#about_part .image .overlay .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about_part .image .overlay .icon i {
    font-size: 46px;
    color: #fff;
    transition: .3s;
}

#about_part .image .overlay .icon i:hover {
    color: #f73435;
}

#about_part .text {
    text-align: center;
}

#about_part .text .top-par {
    margin-top: 45px;
}

#about_part .text .btm-par {
    margin-top: 27px;
}

#about_part .text p {
    font-size: 15px;
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
}

/*--------------------------------------
          about part end
   --------------------------------------*/
/*--------------------------------------
          teachers part start
   --------------------------------------*/
#teacher_part {
    margin-top: 100px;
}

#teacher_part .teacher_main {
    background: url(../images/teacher_bg.jpg) no-repeat center;
    background-size: cover;
    margin-top: 80px;
}

#teacher_part .details_box {
    width: 90%;
}

#teacher_part .details_box .img {
    height: 230px;
    overflow: hidden;
    text-align: center;
    background: #ddd;
    transition: .5s;
}

#teacher_part .details_box .img img {
    margin-top: 15px;
    transition: .5s;
}

#teacher_part .details_box .text {
    background: #353535;
    padding: 30px;
    transform: translate(25px, -70px);
    display: flex;
    transition: .5s;
}

#teacher_part .details_box .text .icon {
    width: 25%;
}

#teacher_part .details_box .text .icon i {
    font-size: 40px;
    color: #fff;

}

#teacher_part .details_box .text .details {
    width: 75%;
}

#teacher_part .details_box .text h3 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

#teacher_part .details_box .text h5 {
    font-size: 15px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 2px;
}

#teacher_part .details_box .text p {
    font-size: 14px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    margin-top: 15px;
}

#teacher_part .details_box .text .social a {
    display: inline-block;
}

#teacher_part .details_box .text .social i {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #222;
    margin-top: 15px;
    border-radius: 50%;
    margin-right: 3px;
    background: #fff;
    transition: .3s;
}

#teacher_part .details_box .text .social i:hover {
    background: #444;
    color: #fff;
}


#teacher_part .details_box:hover .img {
    transform: translate(0px, 71%);
}

#teacher_part .details_box:hover .img img {
    margin-top: 70px;
}

#teacher_part .details_box:hover .text {
    transform: translate(25px, -100%);
    background: #f73435;

}

#teacher_part .button_part .button_list {
    width: 100%;
    background: #F7F7F7;
    height: 120px;
    padding: 40px;
}

#teacher_part .button_part .button_list span {
    color: #f73435;
}

#teacher_part .button_part .button_list h2 {
    font-size: 36px;
    color: #444;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: -4px;
}

#teacher_part .button_part .ancor {
    background: #f7f7f7;
    width: 100%;
    height: 120px;
    padding: 28px 40px 28px 0;
    text-align: right;
}

#teacher_part .button_part .ancor a {
    display: inline-block;
    border: 2px solid #f73435;
    font-size: 18px;
    font-weight: 500;
    color: #f73435;
    padding: 14px 50px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    position: relative;
    transition: .3s;
}

#teacher_part .button_part .ancor a span {
    position: relative;
    z-index: 1;
}

#teacher_part .button_part .ancor a::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    background-color: #fff;
    transition: .3s;
}

#teacher_part .button_part .ancor a:hover {
    background-color: #f73435;
    color: #fff;
}


#teacher_part .button_part .ancor a:hover::after {
    visibility: visible;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
}


/*--------------------------------------
          teachers part end
   --------------------------------------*/
/*--------------------------------------
          courses part start
   --------------------------------------*/
#course_part {
    background: url(../images/course_bg.jpg) no-repeat center;
    background-size: cover;
    margin-top: 100px;
}

#course_part .overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .9);
    padding: 60px 0;
}

#course_part .overlay .title h2 {
    color: #fff;
}

#course_part .course_main {
    margin-top: 100px;
}

#course_part .course_main .corse_item {
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, .2);
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

#course_part .course_main .corse_item::before {
    width: 100%;
    height: 100%;
    background: #f73435;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    transform: scale(0, 1);
    transform-origin: top right;
    transition: transform .3s;
}

#course_part .course_main .corse_item:hover::before {
    transform: scale(1, 1);
    transform-origin: top left;
    z-index: -1;
}

#course_part .course_main .corse_item h2 {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

#course_part .course_main .corse_item p {
    font-size: 15px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

#course_part .course_main .corse_item a {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 15px;
    border: 1px solid #fff;
    padding: 6px 12px;
    transition: .3s;
    text-transform: capitalize;
}

#course_part .course_main .corse_item:hover a {
    color: #fff;
}

#course_part .course_main .corse_item::after {
    position: absolute;
    content: "";
    right: -10px;
    top: -10px;
    width: 0;
    height: 0;
    border-top: 130px solid #f73435;
    border-left: 130px solid transparent;
    transition: .3s;
}

#course_part .course_main .corse_item i {
    color: #fff;
    position: absolute;
    right: 4px;
    top: 14px;
    z-index: 2;
    font-size: 36px;
}

#course_part .course_main .corse_item:hover i {
    color: #f73435;
}

#course_part .course_main .corse_item:hover::after {
    border-top: 130px solid #fff;
}

/*--------------------------------------
          courses part end
   --------------------------------------*/
/*--------------------------------------
          counter part start
   --------------------------------------*/
#counter_part {
    margin-top: 100px;
}

#counter_part .details {
    width: 100%;
    text-align: center;
    position: relative;
}

#counter_part .details .icon i {
    font-size: 56px;
    color: #f73435;
}

#counter_part .details h2 {
    font-size: 42px;
    color: #222;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
    display: inline-block;
    margin-top: 12px;
}

#counter_part .details span {
    font-size: 30px;
    color: #222;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
}

#counter_part .details h3 {
    font-size: 28px;
    color: #8c7f7f;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}

#counter_part .details::after {
    width: 1px;
    height: 75px;
    background: rgba(140, 127, 127, .3);
    position: absolute;
    bottom: 20px;
    right: -18px;
    content: "";
}

#counter_part .no_after::after {
    background: transparent;
}

/*--------------------------------------
          counter part end
   --------------------------------------*/
/*--------------------------------------
          message part start
   --------------------------------------*/
#message_part {
    margin-top: 100px;
}

#message_part .message_main {
    margin-top: 80px;
}

#message_part .sponsor {
    width: 100%;
}

#message_part .sponsor a {
    display: inline-block;
}

#message_part .sponsor a img {
    opacity: .5;
    transition: .3s;
}

#message_part .sponsor a:hover img {
    opacity: 1
}

#message_part .sponsor a.right {
    border-right: 2px solid #ddd;
}

#message_part .sponsor a.bottom {
    border-bottom: 2px solid #ddd;
}

#message_part .sponsor a.left {
    margin-left: -4px;
}

#message_part .message .name {
    width: 100%;
    padding: 16px 20px;
    border: 2px solid #ddd;
    outline: none;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 600;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    transition: .3s;
}

#message_part .message .name:focus {
    box-shadow: 0 10px 5px rgba(247, 52, 53, 0.2);
}

#message_part .message .box {
    width: 100%;
    min-height: 150px;
    padding: 18px 20px;
    border: 2px solid #ddd;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    resize: none;
    transition: .3s;
}

#message_part .message .box:focus {
    box-shadow: 0 10px 5px rgba(247, 52, 53, 0.2);

}

#message_part .message .msg_button {
    margin-top: 30px;
    border: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    background-color: #222;
    padding: 14px 36px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
}

#message_part .message .msg_button span {
    position: relative;
    z-index: 1;
}

#message_part .message .msg_button:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 9px;
    height: 490%;
    width: 140%;
    background: #f73435;
    transition: .4s;
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

#message_part .message .msg_button:hover:after {
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

#message_part .message .msg_button.focus,
.button:focus {
    box-shadow: none;
}

/*--------------------------------------
          message part end
   --------------------------------------*/
/*--------------------------------------
          contact top part start
   --------------------------------------*/
#contact_top {
    background: url(../images/contact_bg.jpg) no-repeat center;
    background-size: cover;
    margin-top: 100px;
}

#contact_top .overlay {
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, .9);
    padding: 40px 0;
}

#contact_top .overlay .text h2 {
    font-size: 27px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

#contact_top .overlay .contact_btn a {
    display: inline-block;
    background: #f73435;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 14px 28px;
    text-transform: uppercase;
    overflow: hidden;
    transition: .3s;
    position: relative;
    z-index: 1;
    border-radius: 2px;
}

#contact_top .overlay .contact_btn a::after {
    position: absolute;
    background: #fff;
    content: "";
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(50deg);
    transform-origin: top left;
    transition: .3s;
    width: 0;
}

#contact_top .overlay .contact_btn a:hover {
    color: #f73435;
}

#contact_top .overlay .contact_btn a:hover::after {
    height: 100%;
    width: 127%;
    z-index: -1;
}

/*--------------------------------------
          contact top part end
   --------------------------------------*/
/*--------------------------------------
          contact part start
   --------------------------------------*/
#contact_part {
    background: #222;
    padding: 80px 0 45px;
}

#contact_part .logo_part a {
    display: inline-block;
}

#contact_part .logo_part p {
    font-size: 14px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 28px;
    margin-top: 30px;
    padding-right: 24px;
}

#contact_part .link_part h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 30px;
}

#contact_part .link_part ul li a {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 7px;
    transition: .3s;
}

#contact_part .link_part ul li a i {
    color: #f73435;
    margin-right: 3px;
}

#contact_part .link_part ul li:hover a {
    margin-left: 10px;
    color: #f73435;
}

#contact_part .service_part h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 30px;
}

#contact_part .service_part ul li a {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 7px;
    transition: .3s;
}

#contact_part .service_part ul li a i {
    color: #f73435;
    margin-right: 3px;
}

#contact_part .service_part ul li:hover a {
    margin-left: 10px;
    color: #f73435;
}

#contact_part .contact_us h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 30px;
}

#contact_part .contact_us ul {
    display: flex;
    margin-bottom: 23px;
}

#contact_part .contact_us ul li {
    font-size: 14px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

#contact_part .contact_us ul .icon {
    margin-top: 3px;
    font-size: 22px;
    color: #f73435;
}

#contact_part .contact_us ul .icon i{
    border: 1px solid #555;
    width: 35px;
    height: 33px;
    line-height: 30px;
    text-align: center;
}

#contact_part .contact_us ul .add {
    margin-left: 20px;
    width: 168px;
}


/*--------------------------------------
          contact part end
   --------------------------------------*/
/*--------------------------------------
          fotter part start
   --------------------------------------*/
#fotter_part {
    padding: 15px 0;
    text-align: center;
    background: #292929;
    border-top: 1px solid #444;
}

#fotter_part p {
    font-size: 15px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-weight: 400;
}

#fotter_part p .name {
    color: #ff3737;
    font-weight: 700;
}

/*--------------------------------------
          fotter part end
   --------------------------------------*/
